
.search-input{
    background-color: black;
}


#logo-navbar{
    background-image: url(../../assets/logo2.png);
    width: 50px;
    height: 43.7px;
    background-size:cover;
}

#logo-name{
    color:white
}