
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/benjamin-catapane.jpg);
    background-size:cover;
}

.menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(247, 242, 242);
    position: relative;
    border-radius: 10px;
    margin-top: 40px;
    width: 467px;
    height: 490px;
}

#title{
   display: flex;
   position: absolute;
   margin-left: 50px;
   padding: 10px;
   top: 10px;
   font-size: x-large;
   font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-button{
    
    margin: 30px
}

#logo{
    background-image: url(../../assets/logo1.png);
    background-size:cover;
   
}