
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/benjamin-catapane.jpg);
    background-size: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    background-color: rgb(247, 242, 242);
    border-radius: 10px;
    margin-top: 85px;
    width: 400px;
    height: 490px;
    box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.77);
}

#title{
   display: flex;
   position: absolute;
   margin-left: 20px;
   padding-right: 10px;
   right: 2vh;
   top: 38px;
   font-size: 24px;
   font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
}

.input{
    border-color: black;
}
.form-button{
    
    margin: 50px
}

#logo{
    background-image: url(../../assets/logo2.png);
    background-size:cover;
    
}