
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../assets/benjamin-catapane.jpg);
    background-size: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    background-color: rgb(247, 242, 242);
    border-radius: 10px;
    margin-top: 85px;
    width: 450px;
    height: 490px;
    box-shadow: 1px 1px 10px  rgba(50, 50, 50, 0.77);
}

#title{
   display: flex;
   position: absolute;
   top: 8vh;
   right: 5vh;
   font-size: 30px;
   font-weight: 600;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 30px;
    margin-right: 30px;
   
}

.input-login{
    border-color: rgb(87, 84, 84);
    padding: 3vh;

}
.form-button{
    margin-top: 70px;
    margin-left: 96px;
    margin-right: 96px;
}

